<div class="row">
	<img src="img/logo.png" class="center-block text-center" title="Minority Game" alt="Minority Game">
</div>
<div class="row">
	<h1 class="center-block text-center">Create Minority Game</h1>
</div>
<div class="row">
	<form class="form-horizontal col-xs-12 col-lg-offset-2 col-lg-8 img-thumbnail" action="createGame" method="post">
	  <fieldset>
		<legend>New Game</legend>
		<div class="form-group">
		  <label class="col-lg-4 control-label">Total Rounds</label>
		  <div class="col-lg-8">
			<input type="number" class="form-control" name="totalRound" placeholder="Total Rounds">
		  </div>
		</div>
		<div class="form-group">
		  <label class="col-lg-4 control-label">Price Per Share</label>
		  <div class="col-lg-8">
			<input type="number" class="form-control" name="pricePerShare" placeholder="Price Per Share"  min="1" max="10000" step="0.01">
		  </div>
		</div>
		<div class="form-group">
		  <label class="col-lg-4 control-label">Total Players</label>
		  <div class="col-lg-7">
			<input type="range" class="form-control" name="numOfPlayers" placeholder="Total Players" value="3" min="3" max="133" step="2" oninput="document.getElementById('totalPlayerOut').innerHTML = value">
		  </div>
		  <div class="col-xs-6 col-sm-1 col-md-1 col-lg-1 control-label">
			<div id="totalPlayerOut">3</div>
		  </div>
		</div>
		<!--div class="form-group">
		  <label for="inputEmail" class="col-lg-2 control-label">Initial Share Price</label>
		  <div class="col-lg-10">
			<input type="number" class="form-control" name="pricePerShare" placeholder="Price Per Share">
		  </div>
		</div-->
		<div class="form-group">
		  <div class="col-lg-8 col-lg-offset-4">
			<button type="reset" class="btn btn-default">Cancel</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </div>
		</div>
	  </fieldset>
	</form>
</div>
	
<script>
</script>