<div class="container">
	<div class="row">
		<h1 class="center-block text-center">AGENT-BASED SIMULATIONS OF STOCK MARKET USING A PRICE-FLUCTUATION GAMES MODEL</h1>
		<h2 class="center-block text-center">PARTICIPANT CONSENT FORM</h2>
	</div>
	<div class="row">
		<p>
			I agree to take part in this research study.
		</p>
		<p>
			In giving my consent I state that:
		</p>
		<ul>
			<li>I understand the purpose of the study, what I will be asked to do, and any risks/benefits involved.</li>
			<li>I have read the Participant Information Statement and have been able to discuss my involvement in the study with the researchers if I wished to do so.</li>
			<li>The researchers have answered any questions that I had about the study and I am happy with the answers.</li>
			<li>I understand that being in this study is completely voluntary and I do not have to take part. My decision whether to be in the study will not affect my relationship with the researchers or anyone else at the University of Sydney now or in the future.</li>
			<li>I understand that I can withdraw from the study at any time.</li>
			<li>I understand that I may leave the game at any time if I do not wish to continue. I also understand that it will not be possible to withdraw my past actions once the group has started as it is a result of sum of all the actions.</li>
			<li>I understand that personal information about me that is collected over the course of this project will be stored securely and will only be used for purposes that I have agreed to. I understand that information about me will only be told to others with my permission, except as required by law.</li>
			<li>I understand that the results of this study may be published, but these publications will not contain my name or any identifiable information about me.</li>
			<li>I consent being identified during the game by the username I choose in the registration. </li>
			<li>I consent to:</li>
			<li>
				<div class="form-group">
					<label class="col-lg-2 control-label">Audio-recording</label>
					<div class="col-lg-10">
					<div class="radio">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						Yes
					  </label>
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						No
					  </label>
					</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Video-recording</label>
					<div class="col-lg-10">
					<div class="radio">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						Yes
					  </label>
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						No
					  </label>
					</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Photographs</label>
					<div class="col-lg-10">
					<div class="radio">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						Yes
					  </label>
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						No
					  </label>
					</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Reviewing transcripts</label>
					<div class="col-lg-10">
					<div class="radio">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						Yes
					  </label>
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						No
					  </label>
					</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Being contacted about future studies </label>
					<div class="col-lg-10">
					<div class="radio">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						Yes
					  </label>
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						No
					  </label>
					</div>
					</div>
				</div>
			</li>
			<li>Would you like to receive feedback about the overall results of this study?</li>
			<li>
				<div class="form-group">
					<label class="col-lg-2 control-label"></label>
					<div class="col-lg-10">
					<div class="radio">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						Yes
					  </label>
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						No
					  </label>
					</div>
					</div>
				</div>
				<div>
					<p>If you answered YES, please indicate your preferred form of feedback and address:</p>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">Postal</label>
						<div class="col-lg-10">
						<input type="text" class="form-control" name="pref_postal" placeholder="postal">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
						<input type="text" class="form-control" name="pref_email" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">Telephone</label>
						<div class="col-lg-10">
						<input type="text" class="form-control" name="pref_tel" placeholder="Email">
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="row">
			<input type="checkbox" name="partiInfo"> I received the participant information statement <br/>
			<input type="checkbox" name="accept"> I accept the terms and conditions
		</div>
	</div>
</div>